<%= link_to '新しいタスクを追加する', new_task_path %>
<%= link_to 'メンバー登録ページへ', members_path %>
<hr/>

<h2>検索部分</h2>
<%= form_with url: tasks_path, method: :get, local: true do |f| %>
  <br>
  <%= f.label :name, 'タスク名' %>
  <%= f.text_field :name %>
  <%= f.label :team_id, 'タスク部門' %>
  <%= f.collection_select :team_id, Team.all, :id, :name, include_blank: true %>
  <%= f.label :member_id, '対応者' %>
  <%= f.collection_select :member_id, Member.all, :id, :name, include_blank: true %>
  <br>
  <%= f.label :status, 'ステータス' %>
  <%= f.collection_select :status_id, Status.all, :id, :name, include_blank: true %>
  <%= f.label :start_date, '着手予定日' %>
  <%= f.date_field :start_date %>
  <%= f.label :complete_date, '完了予定日' %>
  <%= f.date_field :complete_date %>
  <br>
  <%= f.submit '検索する' %>
<% end %>

<hr/>

<h2>タスク一覧</h2>
<table>
  <thead>
    <tr>
      <th>タスク名</th>
      <th>部門</th>
      <th>対応者</th>
      <th>ステータス</th>
      <th>着手予定日</th>
      <th>完了予定日</th>
      <th>備考</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.name, task_path(task) %></td>
      <td><%= task.team.name %></td>
      <td><%= task.member.name %></td>
      <td><%= task.status.name %></td>
      <td><%= task.start_date.strftime("%Y/%m/%d") %></td>
      <td><%= task.complete_date.strftime("%Y/%m/%d") %></td>
      <td><%= task.memo %></td>
      <td><%= link_to '編集', edit_task_path(task) %></td>
      <td><%= link_to '削除', task_path(task), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？'} %></td>
    </tr>
    <% end %>
  </tbody>
</table>